<template>
  <form v-if="value" @:submit.prevent>
    <div class="text-right">
      <q-chip square dense :icon="typeIcon" class="text-uppercase">{{
        typeName
      }}</q-chip>
    </div>
    <q-input
      dense
      v-model="value.label"
      placeholder="Label"
      label="Label to display"
    />

    <q-input
      dense
      v-model="value.field_options.description"
      type="textarea"
      label="A longer description to display"
      filled
    />
    <q-toggle
      v-model="value.required"
      label="Required"
      v-if="ifNotTypes(['section_break', 'page_break'])"
    />
    <editable-checkboxes-options
      v-model="value.field_options"
      v-if="ifType('checkboxes')"
    />
    <editable-radio-options
      v-model="value.field_options"
      v-if="ifType('radio')"
    />
    <editable-dropdown-options
      :value-component="value.field_options"
      v-if="ifType('dropdown')"
      @add-new-item="addNewItem"
    />
  </form>
</template>

<script>
import EditableCheckboxesOptions from './EditableCheckboxesOptions.vue'
import EditableRadioOptions from './EditableRadioOptions'
import EditableDropdownOptions from './EditableDropdownOptions'
import { defineComponent, computed } from 'vue'

export default defineComponent({
  name: 'EditableElementOptions',
  components: {
    EditableCheckboxesOptions,
    EditableRadioOptions,
    EditableDropdownOptions
  },
  props: {
    value: {
      type: Object
    },
    typeInfo: {
      type: Array
    }
  },
  setup(props) {
    // COMPUTED
    const typeName = computed(() => {
      return getTypeInfo().label
    })

    const typeIcon = computed(() => {
      return getTypeInfo().icon
    })

    // METHODS
    const ifType = (type) => {
      return props.value.field_type === type
    }

    const ifNotTypes = (types) => {
      if (!Array.isArray(types)) {
        types = [types]
      }
      return types.indexOf(props.value.field_type) < 0
    }

    const getTypeInfo = () => {
      for (const i in props.typeInfo) {
        if (props.typeInfo[i].type === props.value.field_type) {
          return props.typeInfo[i]
        }
      }
      return false
    }
    const addNewItem = (obj) => {
      props.value.field_options.options.push({
        label: obj.label,
        checked: obj.checked
      })
      obj.label = ''
    }

    return {
      typeName,
      typeIcon,
      ifType,
      ifNotTypes,
      getTypeInfo,
      addNewItem
    }
  }
})
</script>
