<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="my-font2"> QFormBuilderUpdate </q-toolbar-title>
        <div>Escala24x7</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page>
        <q-form-builder-update v-model="fields" @input="input" />

        <q-separator />

        <div class="q-pa-md q-form-container">
          <h4>Form Rendering</h4>
          <component
            class="q-my-md"
            v-for="(field, index) in fields"
            :key="index"
            :inner-value="field"
            :is="getElement(field)"
            :label="field.label"
            :required="field.required"
            :field_options="field.field_options"
            :id="field.cid"
            :cid="field.cid"
          />
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import {
  QFormBuilderUpdate,
  DropdownElement,
  TextElement,
  BooleanElement,
  SectionBreakElement,
  NumberElement,
  EmailElement
} from '../components/Index'
export default defineComponent({
  name: 'SampleApp',
  components: {
    QFormBuilderUpdate,
    NumberElement,
    TextElement,
    DropdownElement,
    BooleanElement,
    SectionBreakElement,
    EmailElement
  },
  setup() {
    const fields = ref([])
    const fieldData = ref([])

    const input = (val) => {
      fields.value = val
    }

    const getElement = (field) => {
      const nameParts = field.field_type.split('_')
      for (let i = 0; i < nameParts.length; i++) {
        nameParts[i] =
          nameParts[i].charAt(0).toUpperCase() + nameParts[i].slice(1)
      }
      return nameParts.join('') + 'Element'
    }

    return {
      fields,
      fieldData,
      getElement,
      input
    }
  }
})
</script>

<style lang="sass">
.q-form-container
  max-width: 820px
  margin: auto
</style>
