<template>
  <q-layout
    container
    style="width: 100%; height: 100%; min-height: calc(100vh - 50px)"
    view="hHh Lpr fff"
  >
    <q-drawer v-model="drawer" show-if-above bordered :side="navPosition">
      <q-tabs v-model="tab" align="justify" dense narrow-indicator>
        <q-tab name="add" label="Add Field" />
        <q-tab
          name="edit"
          label="Edit Field"
          :disable="currentField.length == 0"
        />
      </q-tabs>
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="add">
          <draggable
            :list="sourceFields"
            :clone="createField"
            :group="{ name: 'elements', pull: 'clone', put: false }"
          >
            <div
              class="source-field"
              v-for="(sourceField, idx) in sourceFields"
              :key="idx"
            >
              <q-btn
                type="button"
                size="11px"
                dense
                align="left"
                class="btn-fixed-width text-caption"
                @click="onAddFieldClick(sourceField.type)"
                :icon="sourceField.icon"
                :label="sourceField.label"
                v-if="sourceField.type !== ''"
              />
            </div>
          </draggable>
        </q-tab-panel>
        <q-tab-panel name="edit">
          <editable-element-options
            :value="currentField"
            :type-info="sourceFields"
          />
        </q-tab-panel>
      </q-tab-panels>
      <q-separator class="q-my-md" />
      <div
        v-if="fields.length"
        class="text-caption q-ma-md bg-accent pre-format"
      >
        <pre>{{ fields }}</pre>
      </div>
    </q-drawer>

    <q-page-container>
      <q-page class="q-form-builder-page">
        <draggable :list="fields" group="elements">
          <div
            class="row editable-element-container q-my-md"
            v-for="(field, index) in fields"
            :key="index"
          >
            <editable-element
              :value="fields[index]"
              @click="selectForEdit(field)"
              :ref="fields[index].cid"
            />

            <q-btn
              class="delete-button"
              style="width: 30px; height: 30px"
              @click="deleteField(index)"
              color="accent"
              round
              icon="delete"
              size="xs"
              ><q-tooltip>Delete field</q-tooltip></q-btn
            >
          </div>
        </draggable>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { uid, extend } from 'quasar'
import { ref, computed, defineComponent, onBeforeMount, watch } from 'vue'
import { VueDraggableNext } from 'vue-draggable-next'

import EditableElement from './editables/EditableElement.vue'
import EditableElementOptions from './editables/EditableElementOptions.vue'
import * as utils from '../composables/utils'

export default defineComponent({
  name: 'QFormBuilder',
  components: {
    draggable: VueDraggableNext,
    EditableElement,
    EditableElementOptions
  },
  props: {
    navPosition: {
      type: String,
      default: 'left'
    },
    fieldIdName: {
      type: String,
      default: '_id'
    },
    valueComponent: {
      required: true,
      type: Array
    },
    sourceFields: {
      type: Array,
      required: false,
      default: () => [
        { type: 'text', icon: 'font_download', label: 'Text' },
        { type: 'number', icon: 'pin', label: 'Number' },
        { type: 'email', icon: 'email', label: 'Email' },
        { type: 'boolean', icon: 'edit_attributes', label: 'Boolean' },
        { type: 'dropdown', icon: 'arrow_drop_down_circle', label: 'Dropdown' },
        { type: 'section_break', icon: 'view_agenda', label: 'Section Break' }
      ]
    }
  },
  emits: ['input'],
  setup(props, { emit }) {
    // PROPERTIES
    const fields = ref(props.valueComponent)
    const drawer = ref(true)
    let tab = ref('add')
    let currentField = ref([])

    // METHODS

    const createField = (item) => {
      return {
        label: utils.defaultLabel(item.type),
        field_type: item.type,
        required: true,
        cid: uid(),
        field_options: utils.defaultFieldOptions(item.type)
      }
    }

    const selectForEdit = (field) => {
      currentField.value = field
      tab.value = 'edit'
    }

    const onAddFieldClick = (type) => {
      const field = createField({ type })
      fields.value.push(field)
      selectForEdit(field)
    }

    const deleteField = (index) => {
      currentField.value = []
      tab.value = 'add'
      fields.value.splice(index, 1)
    }

    const duplicateField = (idx) => {
      const newField = extend(true, {}, fields[idx])
      newField.cid = uid()
      newField[props.fieldIdName] = null
      delete newField[props.fieldIdName]
      fields.value.push(newField)
      selectForEdit(newField)
    }

    const onChange = (evt) => {
      if (evt.added) {
        selectForEdit(evt.added.element)
      }
    }

    const getFieldByCid = (cid) => {
      for (const field of fields) {
        if (field.cid === cid) return field
      }
      return false
    }

    // COMPUTED
    const sourceOptions = computed(() => {
      return {
        group: {
          name: 'q-form-builder',
          pull: 'clone',
          put: false
        }
      }
    })

    const destinationOptions = computed(() => {
      return {
        group: {
          name: 'q-form-builder',
          pull: false,
          put: true
        }
      }
    })

    watch(
      () => fields.value,
      (newValue) => {
        emit('input', newValue)
      },
      { deep: true }
    )

    onBeforeMount(() => {
      if (!fields.value || !(fields.value instanceof Array)) {
        fields.value = []
      }
    })

    return {
      fields,
      drawer,
      tab,
      currentField,
      createField,
      deleteField,
      duplicateField,
      onChange,
      onAddFieldClick,
      selectForEdit,
      getFieldByCid,
      sourceOptions,
      destinationOptions
    }
  }
})
</script>

<style scoped lang="sass">
.source-field
  width: 140px
  display: inline-block
  margin: 0px 2px 5px 2px
  .q-btn
    width: 100%

.q-page
  padding: 20px

.q-form-builder-elements-container
  width: 100%
  min-height: 200px

.q-form-builder-elements-container.empty
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='200px' width='500px'><text x='0' y='15' fill='lightgray' font-size='14' font-family='Roboto, Helvetica, sans-serif'>Drag an element here to get started.</text></svg>")
  background-repeat: no-repeat
  background-position: 0 40px

.q-editable-element.selected
  background-color: $blue-grey-1

.editable-element-container
  position: relative

.editable-element-action-buttons
  position: absolute
  bottom: -11 px
  right: 0
  z-index: 2

.editable-element-button
  float: right
  margin-right: 5px

.delete-button
  position: relative
  top: 0px
  right: 20px
  z-index: 2

.pre-format
  overflow: auto
</style>
