<template>
  <div class="row q-col-gutter-sm q-form-phone q-form-builder-element">
    <div class="col-12">
      <q-input
        filled
        v-model="value"
        :hint="hint ? hint : ''"
        :type="innerValue.fiel_type"
        :label="getLabel"
        :debounce="debounce"
        :rules="
          innerValue.required ? [(val) => !!val || 'Field is required'] : []
        "
      >
        <template v-slot:prepend>
          <q-icon name="font_download" />
        </template>
      </q-input>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { useFormElement } from '../../composables/FormElement'
export default defineComponent({
  name: 'TextElement',
  props: {
    innerValue: {
      type: Object
    }
  },
  setup(props) {
    const { getLabel, hint, debounce, value, isValidString } = useFormElement(
      props.innerValue
    )

    return {
      value,
      debounce,
      getLabel,
      hint,
      isValidString
    }
  }
})
</script>
